<?xml version="1.0"?>
<config>
    <modules>
        <Web_Ppfix>
            <version>0.1.0</version>
        </Web_Ppfix>
    </modules>
    <global>
        <models>
            <web_ppfix>
                <class>Web_Ppfix_Model</class>
            </web_ppfix>
            <paypal>
                <rewrite>
                    <cart>Web_Ppfix_Model_Cart</cart>
                    <standard>Web_Ppfix_Model_Standard</standard>
                    <config>Web_Ppfix_Model_Config</config>
                </rewrite>
            </paypal>
            <sales>
                <rewrite>
                    <order_payment>Web_Ppfix_Model_Payment</order_payment>
                </rewrite>
            </sales>
        </models>
        <blocks>
            <ppfix>
                <class>Web_Ppfix_Block</class>
            </ppfix>
            <checkout>
                <rewrite>
                    <cart_totals>Web_Ppfix_Block_Checkout_Cart_Totals</cart_totals>
                </rewrite>
            </checkout>
        </blocks>
        <helpers>
            <ppfix>
                <class>Web_Ppfix_Helper</class>
            </ppfix>
        </helpers>
        <resources>
            <ppfix_setup>
                <setup>
                    <module>Web_Ppfix</module>
                </setup>
            </ppfix_setup>
        </resources>
        <events>
            <sales_order_save_after>
                <observers>
                    <pbfix_sales_order_observer_payment>
                        <class>Web_Ppfix_Model_Observer</class>
                        <method>setPaymentInfo</method>
                    </pbfix_sales_order_observer_payment>
                </observers>
            </sales_order_save_after>
        </events>
    </global>
    <adminhtml>
        <events>
            <payment_info_block_prepare_specific_information>
                <observers>
                    <ppfix_payment_info>
                        <class>Web_Ppfix_Model_Observer</class>
                        <method>getPaymentInfo</method>
                    </ppfix_payment_info>
                </observers>
            </payment_info_block_prepare_specific_information>
            <adminhtml_init_system_config>
                <observers>
                    <ppfix>
                        <class>Web_Ppfix_Model_Observer</class>
                        <method>setConfig</method>
                    </ppfix>
                </observers>
            </adminhtml_init_system_config>

        </events>
    </adminhtml>
</config>